<h1>Bienvenue dans la partie « {{ partie }} »</h1>
<table>
    {% for ligne in tableau %}
        <tr>
            {% for i in ligne %}
                <td>
                    {% if i == 'mine' %}
                        <span class="mine"></span>
                    {% elif i > 0 %}
                        {{ i }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<style>
    table {
        border-collapse: collapse;
    }
    table td {
        border: 1px solid lightGrey;
        width: 25px;
        height: 25px;
        text-align: center;
    }
    .mine {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: black;
        border-radius: 50%;
    }
</style>
